cache: pip

language: python

notifications:
  email: false

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda env create -f scripts/environment-cpu-linux.yml python=$TRAVIS_PYTHON_VERSION
  - source activate umx-cpu
  - conda install -c conda-forge sox 
  - pip install codecov
  - pip install pytest pytest-cov
  - pip install -e .
  - bash tests/create_dummy_datasets.sh

script:
  - py.test tests --cov=./

# Push the results back to codecov
after_success:
  - codecov
