name: umx-gpu

channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.7
  - numpy=1.18
  - scipy=1.4
  - pytorch=1.5
  - torchaudio=0.5.0
  - cudatoolkit=10.0
  - scikit-learn=0.22
  - tqdm
  - ffmpeg
  - resampy
  - torchaudio=0.5.0
  - pip
  - pip:
    - musdb==0.3.1
    - norbert>=0.2.0
    - museval==0.3.0
    - gitpython