name: umx-osx

channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.7.3
  - numpy=1.16
  - scipy=1.3
  - pytorch=1.3.1
  - tqdm=4.32
  - scikit-learn=0.21
  - ffmpeg
  - resampy
  - pip
  - pip:
    - musdb==0.3.1
    - norbert>=0.2.0
    - museval==0.3.0
    - gitpython