name: umx-cpu

channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.7
  - numpy=1.18
  - scipy=1.4
  - pytorch==1.5.1
  - cpuonly
  - torchaudio==0.5.1
  - tqdm
  - scikit-learn=0.22
  - ffmpeg
  - pip
  - pip:
    - musdb==0.3.1
    - museval==0.3.0
    - gitpython