[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.15.4"
pescador = "==2.0.0"
norbert = "==0.1.0"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.6"
